@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Below is some roles in the project.</p>
<div>
    <b>Marketing Manager(người quản lý hệ thống)</b> <br />
    •	They can oversee the process, they can see all contributes selected but can’t edit any contributions. <br />
    •	They need to download all the selected contributions after the final closure date in a ZIP for transfer out of the system. <br />
    <b>Faculties (Trưởng khoa)</b> <br />
    •   Who is the head of department, who can manage detail of faculties. <br />
    <b>Marketing Coordinator(nhân viên điều phối)</b> <br />
    •	They is responsible for managing the process for their Faculty.<br />
    •	Receive request to add new documents, image, report from students within their gmail, they must make a comment within 14 days. <br />
    •	They can only access contributions by students in their Faculty, need to interact with students with the students in their Faculty to edit the contributions, they can choose a documents, report, image to publication. <br />
    <b>Students (sinh viên) </b> <br />   •Who can submit one or more articles as a word file, students can post images. <br />
    <b>Adminnistrator(admin)</b> <br />   •Who can maintain system data, example, closure dates for each academic year. <br />
    <b>Customers(khách hàng)</b> <br />   •Who can see view of detail and report they were selected. <br />
    Must have: Statistical analysis (example : number of contributions of each Faculty) <br />
    After post magazine students can update, or create new magazine. However, after 14 days students only create new magazine. <br />
    In pending status, students can edit their magazines. After pending status finished students cannot update their magazine <br /> 
    UI must be suitable for all devices such as: Smartphone, laptop, desktop, tablet.



</div>
